.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  position: relative;
}
.container{
  max-width: 440px;
  padding: 0 20px;
  width: 100%;

}
.messenger{
  min-height: 800px;
  background-image: url(./assets/images/messenger-bg.png);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  display: flex;
  flex-direction: column;
  min-height: 800px;
  gap: 60px;
}
.message{
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: right;
  padding: 10px;
  &__content{
    background: #C4BFFF;
    border-radius: 15px 15px 15px 0px;
    padding: 10px 37px 10px 0px;
    max-width: 168px;
    width: 100%;
    word-wrap: break-word;
    text-align: right;
  }
  &__date{
    font-size: 14px;
    line-height: 16px;

    color: #323232;

  }
}